body{
    background-color: gray;
}

.text{
    width: 317px;
    height: 168px;
}

.box{
    width: 448px;
    height: 532px;
    border-radius: 20px;
    background-color: white;
}

.box1 {
    width: 331px;
    height: 69px;
    background-color: black;
    border-radius: 90px;
}

.box2 {
    width: 331px;
    height: 69px;
    background-color: white;
    border-radius: 90px;
}